.idea
./target
target/
target
**/*.rs.bk
Cargo.lock
_build
.buildconfig
de.haeckerfelix.gradio.json~
de.haeckerfelix.GradioDevel.json~
*.ui~
.ui~
./.cargo
.cargo
Rustio
./Rustio
resources.gresource
*.gresource