.transparent {
  background-color: transparent;
}

.content-background{
  background-color: @theme_bg_color;
}

.station-row{
	border: 1px solid alpha(currentColor,0.2);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px 0px @theme_base_color, 0px 1px 1px 0px alpha(black,0.4);
	margin: 4px;
	background: @theme_base_color;
}

.station-row:hover {
	background: @theme_bg_color;
}

.bottombar{
  background: @bottombar_bg;
  border-top: solid gray 1px;
}

.bottombar button image {
  -gtk-icon-shadow: none;
  color: gray;
}

.bottombar button {
  border: none;
  box-shadow: none;
  background-image: none;
  border-radius: 0px;
  background-color: @bottombar_bg;
  outline-color: #999;
  padding: 10px;
}

.bottombar button:hover {
  background-color: shade(@theme_bg_color, 1.3);
}

.bottombar button:checked image {
  color: @theme_fg_color;
}

.bottombar button:checked {
  background-color: @theme_base_color;
}
