.transparent {
  background-color: transparent;
}

.content-background{
  background-color: @theme_bg_color;
}

.station-row{
	border: 1px solid alpha(currentColor,0.2);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px 0px @theme_base_color, 0px 1px 1px 0px alpha(black,0.4);
	margin: 4px;
	background: @theme_base_color;
}

.station-row:hover {
	background: @theme_bg_color;
}


/* Original Author: Christopher Davis (https://gitlab.gnome.org/BrainBlasted/Trumpet/blob/a4c78543c970c7c998c4b3ef67d5df252048ce4c/res/stylesheet.css) */
actionbar.bottombar > revealer > box {
  padding-top: 0px;
  padding-bottom: 0px;
}

.bottombar {
  min-height: 48px;
  font-size: small;
}

:checked.bottom-switcher > box > label {
  font-weight: bold;
}

.bottom-switcher {
  border-top-width: 0px;
  border-radius: 0px;
  border-bottom-width: 0px;
}

.top-switcher > button {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0;
  border-top-style: none;
  border-bottom-style: none;
  min-height: 38px;
}

