.transparent {
  background-color: transparent;
}

.content-background{
  background-color: @theme_bg_color;
}

.station-row{
	border: 1px solid alpha(currentColor,0.2);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px 0px @theme_base_color, 0px 1px 1px 0px alpha(black,0.4);
	margin: 4px;
	background: @theme_base_color;
}

.station-row:hover {
	background: @theme_bg_color;
}
