Source: gradio
Section: x11
Priority: extra
Maintainer: Felix Häcker <haecker.felix1207@gmail.com>
Build-Depends: 	cmake (>= 2.8),
		debhelper (>= 8.0.0),
		valac-0.16 | valac (>= 0.16),
		libglib2.0-dev (>= 2.29.0),
		libgtk-3-dev (>= 3.14),
		libgstreamer0.10-dev,
		install libjson-glib-dev,
		libgio2.0-cil-dev,
		libgee-0.8-dev
Standards-Version: 3.9.3

Package: gradio
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Internet Radio
