.thumbnail {
    background-color: #ffffff;
    border: 2px solid @insensitive_fg_color;
    border-radius: 3px;
}

.small-button {
	font-size: smaller;
	padding: 2px 2px;
}

.bitrate-text {
	font-size: smaller;
	font-style: italic;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
