.thumbnail {
    background-color: #ffffff;
    border: 2px solid;
    border-color: mix(@theme_base_color,@theme_fg_color,0.5);
    border-radius: 3px;
}

.small-button {
	font-size: smaller;
	padding: 2px 2px;
}
