.featured-tile{
	border-radius: 0px;
	border-top: 1px mix(@theme_base_color,@theme_fg_color,0.3) solid;
	border-bottom: 1px mix(@theme_base_color,@theme_fg_color,0.3) solid;
	border-right: 0px;
	border-left: 0px;
	background: linear-gradient(@theme_base_color, @borders);
}

.featured-tile-switcher button{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	min-width: 40px;
}

.app-list {
	background-color: @theme_base_color;
}

.featured-tile:hover {
	background-color: @theme_base_color;
}

.featured-tile:active {
	border-color: @theme_selected_bg_color;
	box-shadow: none;
	color: @theme_selected_bg_color;
}

.featured-tile:backdrop {
	box-shadow: none;
	border-color: @unfocused_borders;
}

.tag label {
        background-color: @theme_bg_color;
	border-color: @unfocused_borders;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
	margin: 0px 3px 0px 3px;
}

.warning-box {
        background-color: #fcaf3e;
        color: @theme_fg_color;
        border-color: darker(#fcaf3e);
        border-style: solid;
        border-width: 1px;
        text-shadow: none;
}

.tile {
	padding: 0;
	background-image: none;
	background-color: mix(@theme_base_color,@theme_bg_color,0.3);
}

.tile:hover {
	background-color: @theme_base_color;
}

.tile:active {
	border-color: @theme_selected_bg_color;
	box-shadow: none;
	color: @theme_selected_bg_color;
}

.tile:backdrop {
	box-shadow: none;
	border-color: @unfocused_borders;
}
