[Desktop Entry]
Type=Application
Name=Gradio
Version=4.0.0
_Comment=Listen to radio stations worldwide
_GenericName=Internet Radio
StartupWMClass=gradio
Exec=gradio
Icon=gradio
Terminal=false
Categories=GNOME;GTK;Utility;Productivity
Keywords=Station;Radio;Productivity;
StartupNotify=true
X-GNOME-Gettext-Domain=gradio
