.grid-item {
	padding: 0;
	box-shadow: inset 0 1px @theme_base_color, 0 1px 1px alpha(black,0.4);
	border: 1px solid mix(@theme_base_color,@theme_fg_color,0.3);
	background-image: none;
	background-color: mix(@theme_base_color,@theme_bg_color,0.3);
}

.grid-item:hover {
	background-color: @theme_base_color;
}

.grid-item:active {
	border-color: @theme_selected_bg_color;
	box-shadow: none;
	color: @theme_selected_bg_color;
}

.grid-item:backdrop {
	box-shadow: none;
	border-color: @un3ocused_borders;
}

.stations-view{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: @borders;
}

.grid-overlay-box {
	font-size: smaller;
	background-color: mix(@theme_base_color,#000000,0.2);
	border-radius: 0;
}

.grid-overlay-box:backdrop label {
        color: @theme_selected_fg_color;
}

.round-border{
	border-radius: 3px;
}

.border{
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	border-color: @borders;
}

.border-top{
	border-width: 1px 0px 0px 0px;
	border-style: solid;
	border-color: @borders;
}
.border-bottom{
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: @borders;
}
.border-left{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: @borders;
}
.border-right{
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: @borders;
}


.sidebar{
	background-color: mix(@theme_base_color,#000000,0.2);
	box-shadow: none;
	background-image: none;
}

.sidebar listbox{
	background-color: mix(@theme_base_color,#000000,0.2);
	box-shadow: none;
	background-image: none;
}

.sidebar button {
	background-color: transparent;
	border: none;
	border-radius: 0px;
	box-shadow: none;
	background-image: none;
	outline-color: #999;
	margin: 0px;
	-GtkWidget-window-dragging: 1;
}

.sidebar button:hover {
	background-color: @theme_selected_bg_color;
}


.sidebar button:checked {
	background-color: @theme_selected_bg_color;
}

.shadow {
	box-shadow: 0px 20px 20px 20px alpha(black, 0.5);
}
