[Desktop Entry]
Type=Application
Name=Gradio
Comment=Listen to radio stations worldwide
GenericName=Internet Radio
StartupWMClass=gradio
Exec=gradio
Icon=gradio
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Station;Radio;Productivity;
StartupNotify=true
X-GNOME-Gettext-Domain=gradio
